{% extends 'layouts/base.html' %}
{% load custom_tags %}
{% load static %}


{% block pageTitle %}
  Generacion de Numeros Rectangulares
{% endblock pageTitle %}
  

{% block title %}
  Generacion de Numeros Rectangulares - Congurencial Multiplicativo
{% endblock title %}


{% block content %}
  <script type="text/javascript" src="{% static '/js/rectangulares/promedios.js' %}"></script>
  <script>
    let Zo = {{ Zo }}
  </script>

  <div class="row">
    <p class="col">Datos:</p>
  </div>
  <div class="row">
    <p class="col text-center">a = {{ a }}</p>
    <p class="col text-center">Xo = {{ Xo }}</p>
    <p class="col text-center">m = {{ m }}</p>
    <p class="col text-center">PE = m/4 = {{ pe }}</p>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">n</th>
        <th scope="col">Xn</th>
        <th scope="col">(aXo mod m)</th>
        <th scope="col">Xn+1</th>
        <th scope="col">Numero Rectangular</th>
      </tr>
    </thead>
    <tbody>
      {% for i in rango %}
        {% with next_i=i|add:"1" %}
          <tr>
            <td scope="row">{{ i|add:"1" }}</td>
            <td>{{ list|get_item:i }}</td>
            <td>(({{ a }})({{ list|get_item:i }}) mod {{ m }}) = {{ Pl|get_item:i }}/{{ m }}{% if residuo|get_item:i != 0 %} = {{ residuo|get_item:i }}/{{ m }} {% endif %}</td>
            <td>{{ list|get_item:next_i }}</td>
            <td>{{ list|get_item:next_i }}/{{ m }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
    </tbody>
  </table>

  <p class="lead text-info text-center">
    {{ message }}
  </p>
  {% if validate == True %}
  <div class="row">
    <p class="col-1 text-end">x̅ = </p>
    <p class="col-11">
      {{ nr }}
    </p>
    <p class="col-1"></p>
    <hr class="col-11">
    <p class="col-1"></p>
    <p class="col-11 text-center">
      {{ tamano }}
    </p>
    <p class="col-1 text-end">x̅ = </p>
    <p class="col-1">
      {{ media }}
    </p>
    <p class="col-5">
      Zo = | (({{ media }} - 1/2) * √{{ tamano }}) / √(1/12) | = {{ Zo }} 
    </p>
    <form action="" class="row g-3 text-center m-auto justify-content-center">{% csrf_token %}
      <div class="col-auto">{{ form.alfa.label }}</div>
      <div class="col-auto">{{ form.alfa }}</div>
      <button class="btn btn-info btn-sm col-auto" id="btnSubmitAlpha">Calcular</button>
    </form>
    <div class="row text-center m-auto justify-content-center">
      <p class="col-auto" id="respuesta" style="display: none;">
      </p>
    </div>
  </div>
  {% endif %}
{% endblock content %}
  