{% extends 'layouts/base.html' %}


{% block pageTitle %}
  Generacion de Numeros Rectangulares
{% endblock pageTitle %}
  

{% block title %}
  Generacion de Numeros Rectangulares - Congurencial Multiplicativo
{% endblock title %}
  

{% block content %}
  <form action="{% url 'multi_datos' %}" method="POST">
    {% csrf_token %}
    <div class="row">
      <section class="mb-3 col-12 col-xl-4">
        {{ form.a.as_field_group }}
      </section>
      <section class="mb-3 col-12 col-xl-4">
        {{ form.Xo.as_field_group}}
      </section>
      <section class="mb-3 col-12 col-xl-4">
        {{ form.m.as_field_group}}
      </section>
    </div>
    <div class="text-center">
      <button class="btn btn-primary col-12">
        Enviar Datos
      </button>
    </div>
  </form>
{% endblock content %}
  